 .u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-group-1 {
  width: 559px;
  min-height: 437px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 314px auto 43px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.5999999999999999;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 21px 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 246px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 493px;
    min-height: 399px;
    margin-top: 284px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 69.69% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-group-1 {
    width: 384px;
    min-height: 400px;
    margin-top: 189px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 84.13% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-group-1 {
    min-height: 412px;
    margin-top: 265px;
    margin-bottom: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 670px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 258px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 27px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 191px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 339px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-2 .u-group-1 {
  width: 115px;
  min-height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -12px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 35px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-2 .u-group-2 {
  width: 115px;
  min-height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -12px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 35px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px 30px;
}

.u-section-2 .u-group-3 {
  width: 115px;
  min-height: 115px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -12px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 35px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 643px;
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1087px;
}

.u-section-3 .u-image-1 {
  height: 633px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-list-1 {
  width: 1060px;
  margin: -169px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  min-height: 504px;
  grid-gap: 26px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 220px;
  min-height: 197px;
  margin: 17px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: 17px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-5 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: 17px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-6 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-7 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: 17px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-8 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-9 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-5 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: 17px 0 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-9 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-10 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-10 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-11 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-6 {
  width: 220px;
  min-height: 197px;
  background-size: auto;
  margin: 17px 0 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 0 14px 20px;
}

.u-section-3 .u-text-11 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.u-section-3 .u-text-12 {
  margin-left: 0;
  font-size: 0.875rem;
  margin-bottom: 0;
  font-style: normal;
  margin-top: 20px;
}

.u-section-3 .u-icon-12 {
  height: 32px;
  width: 32px;
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1082px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: -170px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 514px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-bottom: 0;
    padding-left: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1267px;
  }

  .u-section-3 .u-image-1 {
    height: 484px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: -125px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13px));
    min-height: 802px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-bottom: 14px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-bottom: 14px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1135px;
}

.u-section-4 .u-list-1 {
  width: 666px;
  margin: 47px 0 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 1024px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 41px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-4 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 25px auto 0 0;
}

.u-section-4 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 41px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-4 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 25px auto 0 0;
}

.u-section-4 .u-icon-4 {
  background-image: none;
}

.u-section-4 .u-icon-5 {
  background-image: none;
}

.u-section-4 .u-icon-6 {
  background-image: none;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 41px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-4 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 25px auto 0 0;
}

.u-section-4 .u-icon-7 {
  background-image: none;
}

.u-section-4 .u-icon-8 {
  background-image: none;
}

.u-section-4 .u-icon-9 {
  background-image: none;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 13px 41px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-12 {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: 11px 0 0;
}

.u-section-4 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 25px auto 0 0;
}

.u-section-4 .u-icon-10 {
  background-image: none;
}

.u-section-4 .u-icon-11 {
  background-image: none;
}

.u-section-4 .u-icon-12 {
  background-image: none;
}

.u-section-4 .u-group-1 {
  width: 434px;
  min-height: 1040px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1040px auto 47px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-4 .u-icon-13 {
  width: 90px;
  height: 90px;
  margin: 290px auto 0 0;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  font-size: 2.77778rem;
  margin: 19px auto 0 0;
}

.u-section-4 .u-text-14 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-4 .u-list-1 {
    width: 521px;
    margin-top: 55px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1069px;
  }

  .u-section-4 .u-icon-6 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-4 .u-icon-9 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-4 .u-icon-12 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-4 .u-group-1 {
    width: 378px;
    min-height: 1092px;
    margin-top: -1092px;
  }

  .u-section-4 .u-icon-13 {
    padding: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1859px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1273px;
  }

  .u-section-4 .u-image-1 {
    height: 307px;
  }

  .u-section-4 .u-image-2 {
    height: 307px;
  }

  .u-section-4 .u-image-3 {
    height: 307px;
  }

  .u-section-4 .u-image-4 {
    height: 307px;
  }

  .u-section-4 .u-group-1 {
    min-height: 435px;
    margin-top: 41px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 16px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3300px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 405px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-2 {
    height: 405px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-3 {
    height: 405px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-4 {
    height: 405px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2367px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 270px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 270px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 270px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 270px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: url("images/75046ddc-63c4-a8b3-1d53-2745c1f8c894.jpg");
  background-position: 50% 50%;
  min-height: 647px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 647px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 132px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 647px;
  background-image: url("images/-min1.jpg");
  background-position: 13.25% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 533px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-5 .u-image-1 {
    min-height: 533px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 482px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 408px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 458px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-container-layout-1 {
    padding: 60px 50px 30px 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 592px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 239px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 55px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 373px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1149px;
}

.u-section-6 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px 97px 0;
}

.u-section-6 .u-text-2 {
  width: 719px;
  margin: 12px auto 0;
}

.u-section-6 .u-image-1 {
  height: 512px;
  margin-top: 181px;
  margin-bottom: 0;
}

.u-section-6 .u-list-1 {
  width: 1022px;
  margin: -662px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 261px;
  grid-gap: 32px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-text-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-text-7 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-text-9 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-6 .u-text-10 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 447px auto 60px;
  padding: 20px 107px 22px 106px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-6 .u-list-1 {
    width: 868px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 240px;
  }

  .u-section-6 .u-text-4 {
    font-size: 4.25rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 4.25rem;
  }

  .u-section-6 .u-text-8 {
    font-size: 4.25rem;
  }

  .u-section-6 .u-text-10 {
    font-size: 4.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 374px;
  }

  .u-section-6 .u-list-1 {
    width: 631px;
    margin-top: -854px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 427px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 473px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 392px;
    margin-top: 395px;
  }

  .u-section-6 .u-list-1 {
    width: 488px;
    margin-top: -756px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 369px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1544px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-1 {
    height: 324px;
    margin-top: 663px;
  }

  .u-section-6 .u-list-1 {
    width: 280px;
    margin-top: -959px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 726px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-10 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 273px;
    padding-right: 86px;
    padding-bottom: 21px;
    padding-left: 85px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 767px;
}

.u-section-7 .u-list-1 {
  width: 403px;
  margin: 70px auto 0 128px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 627px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px auto 0;
}

.u-section-7 .u-list-2 {
  width: 456px;
  margin: -627px auto -38px 556px;
}

.u-section-7 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 627px;
  grid-gap: 29px;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-7 .u-text-7 {
  margin: 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-7 .u-text-8 {
  margin: 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-7 .u-text-9 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-list-2 {
    margin-right: 0;
    margin-bottom: -517px;
    margin-left: auto;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-7 .u-list-1 {
    margin-left: auto;
  }

  .u-section-7 .u-list-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 526px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-list-2 {
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-8 {
  background-image: url("images/bg-7.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 794px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 538px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 30px 50px;
}

.u-section-8 .u-form-1 {
  height: 347px;
  margin: 39px 0 0;
}

.u-section-8 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-8 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-8 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }
}